<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Key</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let interest of interestList; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td><i (click)="updateInterest(interest)">{{ interest.title }}</i></td>
      <td
        [innerHTML]="getInterestKeys(interest.keys)"
      ></td>
      <td>
        <i class="fa fa-trash" style="font-size:15px; cursor:pointer;" (click)="deleteInterest(interest.interestId)"></i>
      </td>
    </tr>
  </tbody>
</table>
