<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">
            <i class="cil-school"></i>
            {{ isEditMode ? 'Edit Experience Details' : 'Add Experience Details' }}
          </h5>
        </div>
        <div class="card-body">
          <form [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="companyName" class="form-label">Company Name</label>
              <input
                id="companyName"
                formControlName="companyName"
                class="form-control"
                required
              />
            </div>
            <div class="mb-3">
              <label for="shortName" class="form-label">Short Name</label>
              <input
                id="shortName"
                formControlName="shortName"
                class="form-control"
              />
            </div>

            <div class="mb-3">
              <label class="form-label">Company Logo</label>
              <div>
                <ngx-dropzone (change)="onSelect($event)">
                  <ngx-dropzone-label>Drop the image here!</ngx-dropzone-label>
                  <ngx-dropzone-preview
                    *ngFor="let file of files"
                    [removable]="true"
                    (removed)="onRemove(file)"
                  >
                    <ngx-dropzone-label>{{ file.name }}</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </div>
              <div class="mt-2">
                <ngx-dropzone-image-preview
                  ngProjectAs="ngx-dropzone-preview"
                  *ngFor="let f of files"
                  [file]="f"
                >
                </ngx-dropzone-image-preview>
              </div>
              <div *ngIf="isEditMode && experienceLogoPreview">
                <img
                  [src]="getImage(experienceLogoPreview)"
                  alt="Experience Logo"
                  class="img-thumbnail mt-2"
                  style="max-width: 200px"
                />
              </div>
            </div>

            <div class="mb-3">
              <label for="designation" class="form-label">Designation</label>
              <input
                id="designation"
                formControlName="designation"
                class="form-control"
              />
            </div>

            <div class="form-check form-switch mb-3">
              <input
                id="isCurrentEmployee"
                type="checkbox"
                class="form-check-input"
                formControlName="isCurrentEmployee"
              />
              <label for="isCurrentEmployee" class="form-check-label">
                Currently Work Here ?
              </label>
            </div>
            
            <div class="form-check form-switch mb-3">
              <input
                id="isFullTimeEmployee"
                type="checkbox"
                class="form-check-input"
                formControlName="isFullTimeEmployee"
              />
              <label for="isFullTimeEmployee" class="form-check-label">
                Full Time Employee ?
              </label>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input
                  id="startDate"
                  type="date"
                  formControlName="startDate"
                  class="form-control"
                />
              </div>

              <div class="col-md-6 mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <input
                  id="endDate"
                  type="date"
                  formControlName="endDate"
                  class="form-control"
                  [disabled]="experienceForm.get('isCurrentEmployee')?.value"
                />
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Experience Sections</label>
              <div formArrayName="experienceSection">
                <div
                  *ngFor="let section of experienceSection.controls; let i = index"
                  [formGroupName]="i"
                  class="border p-3 rounded mb-2"
                >
                  <input
                    id="sectionDescription-{{ i }}"
                    formControlName="sectionDescription"
                    class="form-control mb-2"
                    placeholder="Enter Section Description"
                  />
                  <button
                    type="button"
                    (click)="removeSection(i)"
                    class="btn btn-danger btn-sm"
                  >
                    Remove
                  </button>
                </div>
                <button
                  type="button"
                  (click)="addSection()"
                  class="btn btn-secondary btn-sm"
                >
                  Add Section
                </button>
              </div>
            </div>

            <button
              type="submit"
              [disabled]="experienceForm.invalid"
              class="btn btn-primary w-100"
            >
              {{ isEditMode ? 'Update' : 'Submit' }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
