<table class="table table-hover table-striped align-middle">
  <thead>
    <tr>
      <th scope="col" rowspan="2">#</th>
      <th scope="col" rowspan="2">Post Title</th>
      <th scope="col" rowspan="2">Reading Minutes</th>
      <th scope="col" rowspan="2">Post Topics</th>
      <th scope="col" rowspan="2">Posted User</th>
      <th scope="col" colspan="2" class="text-center">Sections</th>
    </tr>
    <tr>
      <th scope="col">Section Title</th>
      <th scope="col">Section Description</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let post of postList; let i = index;">
      <tr>
        <td [attr.rowspan]="1">{{ i + 1 }}</td>
        <td [attr.rowspan]="1">{{ post.postTitle }}</td>
        <td [attr.rowspan]="1">{{ post.readingMinute }}</td>
        <td [attr.rowspan]="1" [innerHTML]="getPostTopicInformation(post.topicIds)"></td>
        <td [attr.rowspan]="1">{{ post.userId }}</td>

        <!-- Proper row alignment for Section Title & Section Description -->
        <td colspan="2">
          <div class="d-flex flex-column">
            <div *ngFor="let section of post.sections" class="d-flex">
              <div class="flex-fill text-start" style="min-width: 200px;">
                {{ section.sectionTitle }}
              </div>
              <div class="flex-fill text-start">
                {{ section.sectionDescription }}
              </div>
            </div>
            <td *ngIf="post.sections.length === 0" colspan="2" class="text-center"><span class="text-danger">No Sections</span></td>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
