<div class="auth-container">
  <div class="auth-card">
    <h2>{{ isLoginMode ? "Login" : "Register" }}</h2>
    <form
      [formGroup]="isLoginMode ? loginForm : registerForm"
      (ngSubmit)="isLoginMode ? onLogin() : onRegister()"
    >
      <div *ngIf="!isLoginMode" class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Enter your name"
        />
        <div
          *ngIf="
            registerForm.get('name')?.invalid &&
            registerForm.get('name')?.touched
          "
          class="error-message"
        >
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <div
          *ngIf="
            (isLoginMode ? loginForm.get('email') : registerForm.get('email'))
              ?.invalid &&
            (isLoginMode ? loginForm.get('email') : registerForm.get('email'))
              ?.touched
          "
          class="error-message"
        >
          Please enter a valid email.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <div
          *ngIf="
            (isLoginMode
              ? loginForm.get('password')
              : registerForm.get('password')
            )?.invalid &&
            (isLoginMode
              ? loginForm.get('password')
              : registerForm.get('password')
            )?.touched
          "
          class="error-message"
        >
          Password must be at least 6 characters long.
        </div>
      </div>

      <button
        type="submit"
        [disabled]="isLoginMode ? loginForm.invalid : registerForm.invalid"
      >
        {{ isLoginMode ? "Login" : "Register" }}
      </button>
    </form>

    <p>
      {{ isLoginMode ? "Don't have an account?" : "Already have an account?" }}
      <a (click)="toggleMode()">{{ isLoginMode ? "Register" : "Login" }}</a>
    </p>
  </div>
</div>
