<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Institute Name</th>
      <th scope="col">Department</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let education of educationList; let i = index;" >
      <th scope="row">{{ i+1 }}</th>
      <td>{{ education.instituteName }}</td>
      <td>{{ education.department }}</td>
      <td>{{ education.startDate | date: "MMMM dd, yyyy" }}</td>
      <td>{{ education.endDate | date: "MMMM dd, yyyy"}}</td>
      <td><i class="fa fa-trash" style="font-size:15px; cursor:pointer;" (click)="deleteEducation(education.educationId)"></i></td>
    </tr>

  </tbody>
</table>
