<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Journal Name</th>
      <th scope="col">Date</th>
      <th scope="col">Keys</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let publication of publicationList; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ publication.title }}</td>
      <td>{{ publication.journalName }}</td>
      <td>{{ publication.date | date: 'MMM yyyy'}}</td>
      <td
      [innerHTML]="getPublicationKeys(publication.keys)"
      >
      </td>
    </tr>
  </tbody>
</table>
